{% extends 'main/template.html' %}

{% block title %}
<title>Кадровое агентство - О сайте</title>
{% endblock %}

{% block body %}

<div class="pricing-header p-3 pb-md-4 mx-auto">
    <h1 class="display-4 fw-normal text-body-emphasis mb-4">Кто мы?</h1>
    <p class="fs-5 text-body-secondary mt-4">Мы - динамичное и инновационное кадровое агентство, стремящееся менять
        жизни, помогая людям найти работу мечты. Наша команда состоит из опытных специалистов по подбору персонала,
        которые посвятили свою карьеру помощи другим в достижении их карьерных целей.</p>
</div>

<div class="pricing-header p-3 pb-md-4 mx-auto">
    <h1 class="display-4 fw-normal text-body-emphasis mb-4">Наша миссия</h1>
    <p class="fs-5 text-body-secondary">Наша миссия - соединять талантливых кандидатов с ведущими компаниями, помогая им
        находить работу, которая соответствует их навыкам, интересам и амбициям. Мы верим, что правильная работа может
        изменить жизнь, и наша цель - сделать этот процесс максимально простым и эффективным.</p>
</div>

<div class="pricing-header p-3 pb-md-4 mx-auto">
    <h1 class="display-4 fw-normal text-body-emphasis mb-4">Наш опыт</h1>
    <p class="fs-5 text-body-secondary">С многолетним опытом в отрасли, мы знаем, что ищут работодатели, и мы знаем, как
        помочь кандидатам показать себя с лучшей стороны. Мы гордимся тем, что помогли тысячам людей найти работу,
        которую они любят, и мы готовы помочь вам сделать то же самое.</p>
</div>

<div class="pricing-header p-3 pb-md-4 mx-auto">
    <h1 class="display-4 fw-normal text-body-emphasis mb-4">Присоединяйтесь к нам</h1>
    <p class="fs-5 text-body-secondary">Мы приглашаем вас присоединиться к нам и узнать, как мы можем помочь вам в вашем
        карьерном пути. Независимо от того, вы ищете новую работу или нуждаетесь в квалифицированных кандидатах для
        своей компании, мы здесь, чтобы помочь.</p>
</div>

<div class="pricing-header p-3 pb-md-4 mx-auto">
    <h1 class="display-4 fw-normal text-body-emphasis mb-4">Свяжитесь с нами</h1>
    <p class="fs-5 text-body-secondary">Если у вас есть вопросы или вы хотите узнать больше о наших услугах, пожалуйста,
        свяжитесь с нами. Мы с нетерпением ждем возможности помочь вам в вашем карьерном пути!</p>
</div>

{% endblock %}