{% extends 'main/template.html' %}

{% block title %}
<title>Кадровое агентство - Главная страница</title>
{% endblock %}

{% block body %}

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis mb-4">Добро пожаловать в наше кадровое агентство!</h1>
    <p class="fs-5 text-body-secondary mt-4">Мы здесь, чтобы помочь вам найти работу мечты и достичь ваших карьерных
        целей.
        Наша команда профессионалов готова помочь вам на каждом этапе процесса поиска работы.</p>
</div>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis mb-4">О нас</h1>
    <p class="fs-5 text-body-secondary">Мы - ведущее кадровое агентство с многолетним опытом в отрасли. Мы
        специализируемся на соединении талантливых специалистов с ведущими компаниями в различных отраслях. Наша миссия
        - помочь вам найти работу, которая соответствует вашим навыкам, интересам и карьерным амбициям.</p>
</div>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis mb-4">Наши услуги</h1>
    <p class="fs-5 text-body-secondary">Мы предлагаем широкий спектр услуг для соискателей, включая подбор вакансий,
        подготовку резюме, тренинги по собеседованию и карьерное консультирование. Мы также предоставляем услуги для
        работодателей, включая подбор персонала, оценку персонала и консультации по управлению персоналом.</p>
</div>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis mb-4">Начните с нами сегодня</h1>
    <p class="fs-5 text-body-secondary">Готовы начать новую главу в своей карьере? Присоединяйтесь к нам сегодня и
        откройте для себя мир новых возможностей!</p>
</div>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis mb-4">Наша цель - ваш успех. Вместе мы можем достичь больше!</h1>

</div>

{% endblock %}