{% extends 'main/template.html' %}

{% block title %}
<title>Кадровое агентство - Просмотр Редактирование</title>
{% endblock %}

{% block body %}

<div class="row p-3">
    <div class="col p-3">
        <h3>Просмотр Соискателя</h3>
    </div>
</div>

<div class="row p-3">
    <div class="col col-m p-3">
        <form method="post" class="needs-validation">

            {% csrf_token %}

            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text" id="name">Имя</span>
                <input type="text" class="form-control" name="name" id="name" value="{{ applicant.name }}" required
                    disabled>
            </div>

            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text" id="experience">Стаж</span>
                <input type="number" class="form-control" name="experience" id="experience" step="1" min="0" max="99"
                    value="{{ applicant.experience }}" required disabled>
            </div>

            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text" id="category_id">Рекрутер</span>
                <input type="text" class="form-control" name="employer" id="employer"
                    value="{% if applicant.recruiter != None %}{{ applicant.recruiter }}{% else %} --- {% endif %}"
                    required disabled>
            </div>

            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text" id="category_id">Работодатель</span>
                <input type="text" class="form-control" name="employer" id="employer"
                    value="{% if applicant.employer != None %}{{ applicant.employer }}{% else %} --- {% endif %}"
                    required disabled>
            </div>

        </form>
    </div>
</div>


{% endblock %}